h1 January 1<small>st</small>

article#morning
  h2 Morning
  
  blockquote
    p They did eat of the fruit of the land of Canaan that year.
    small Joshua 5:12

  p Israel's weary wanderings were all over, and the promised rest was attained. No more moving tents, fiery serpents, fierce Amalekites, and howling wildernesses: they came to the land which flowed with milk and honey, and they ate the old corn of the land. Perhaps this year, beloved Christian reader, this may be thy case or mine. Joyful is the prospect, and if faith be in active exercise, it will yield unalloyed delight. To be with Jesus in the rest which remaineth for the people of God, is a cheering hope indeed, and to expect this glory so soon is a double bliss. Unbelief shudders at the Jordan which still rolls between us and the goodly land, but let us rest assured that we have already experienced more ills than death at its worst can cause us. Let us banish every fearful thought, and rejoice with exceeding great joy, in the prospect that this year we shall begin to be "forever with the Lord."\n\nA part of the host will this year tarry on earth, to do service for their Lord. If this should fall to our lot, there is no reason why the New Year's text should not still be true. "We who have believed do enter into rest." The Holy Spirit is the earnest of our inheritance; he gives us "glory begun below." In heaven they are secure, and so are we preserved in Christ Jesus; there they triumph over their enemies, and we have victories too. Celestial spirits enjoy communion with their Lord, and this is not denied to us; they rest in his love, and we have perfect peace in him: they hymn his praise, and it is our privilege to bless him too. We will this year gather celestial fruits on earthly ground, where faith and hope have made the desert like the garden of the Lord. Man did eat angels' food of old, and why not now? O for grace to feed on Jesus, and so to eat of the fruit of the land of Canaan this year!
  
hr  

article#evening  
  h2 Evening
    
  blockquote
    p We will be glad and rejoice in thee.
    small Song of Solomon 1:4
  
  p We will be glad and rejoice in thee. We will not open the gates of the year to the dolorous notes of the sackbut, but to the sweet strains of the harp of joy, and the high sounding cymbals of gladness. "O come, let us sing unto the Lord: let us make a joyful noise unto the rock of our salvation." We, the called and faithful and chosen, we will drive away our griefs, and set up our banners of confidence in the name of God. Let others lament over their troubles, we who have the sweetening tree to cast into Marah's bitter pool, with joy will magnify the Lord. Eternal Spirit, our effectual Comforter, we who are the temples in which thou dwellest, will never cease from adoring and blessing the name of Jesus. We will, we are resolved about it, Jesus must have the crown of our heart's delight; we will not dishonour our Bridegroom by mourning in his presence. We are ordained to be the minstrels of the skies, let us rehearse our everlasting anthem before we sing it in the halls of the New Jerusalem. We will be glad and rejoice: two words with one sense, double joy, blessedness upon blessedness. Need there be any limit to our rejoicing in the Lord even now? Do not men of grace find their Lord to be camphire and spikenard, calamus and cinnamon even now, and what better fragrance have they in heaven itself? We will be glad and rejoice in Thee. That last word is the meat in the dish, the kernel of the nut, the soul of the text. What heavens are laid up in Jesus! What rivers of infinite bliss have their source, aye, and every drop of their fulness in him! Since, O sweet Lord Jesus, thou art the present portion of thy people, favour us this year with such a sense of thy preciousness, that from its first to its last day we may be glad and rejoice in thee. Let January open with joy in the Lord, and December close with gladness in Jesus.
