!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="meta-apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")

    title Morning and Evening by Charles Spurgeon

    meta(name="description", content="Morning and Evening by Charles Spurgeon")
    meta(name="author", content="Matthew McManus")

    link(href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Lora', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')

    script(src="/js/libs/modernizr-2.5.3.min.js")

    // Google Analytics
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-68323-18']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body(class = body_classes)
    #fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=256072171153191";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    header
      h1#title
        a(href="/") <strong>Morning <span class="amp">&</span> Evening</strong> <span class="by">by</span> Charles Spurgeon
    hr
    if typeof date != 'undefined'
      .date
        h1
          a#picker(href="javascript:void(0)")= date

        #calendar(style="display:none")
          // Month Mixin
          mixin month(month)
            li(class=month_classes(month, current.month))
              a(id=month, href="javascript:void(0)")= month
              ul.days
                - each day in thisMonth(month, days)
                  if month == current.month
                    - var classes = day_classes(day, current.day)
                  li
                    a(id="d"+day, class=classes, href="/"+month+"-"+day)= day

          // Month List
          ul#month
            - each month in months
              mixin month(month)

    #content(role="main").container
      != body

    footer.container
      p
        | Made by
        a(href="http://mattmcman.us") Matt
      a(href="https://twitter.com/mattmcmanus", class="twitter twitter-follow-button", data-show-count="false") Follow @mattmcmanus
      a(href="https://twitter.com/share", data-url="http://morningandevening.me", class="twitter twitter-share-button") Tweet
      div(class="fb-like", data-send="true", data-href="http://morningandevening.me", data-layout="button_count", data-send="false", data-width="100", data-show-faces="false")
      script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    script(src="/js/scripts.min.js")
