!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")

    title Morning and Evening by Charles Spurgeon

    meta(name="description", content="Morning and Evening by Charles Spurgeon")
    meta(name="author", content="Matthew McManus")
    
    link(href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Lora', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    
    script(src="/js/libs/modernizr-2.5.3.min.js")
    
    // Google Analytics
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-68323-18']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  body(class = body_classes)
    header
      h1#title <strong>Morning <span class="amp">&</span> Evening</strong> <span class="by">by</span> Charles Spurgeon
      //nav
      //  a(href="#") Select a date
    hr
    .date
      h1
        a#picker(href="javascript:void(0)")= date
      
      #calendar(style="display:none")
        // Month Mixin
        mixin month(month)
          li
            a(id=month, class=month_classes(month, curMonth), href="javascript:void(0)")= month
        // Month List
        ul#month
          - each month in months
            mixin month(month)

        mixin day(day)
          if ((curMonth == 'Feb' && (day == '31' || day == '30' || day == '29' )) || (day == '31' && (curMonth == 'Feb' || curMonth == 'Apr' || curMonth == 'Jun' || curMonth == 'Sep' || curMonth == 'Nov') ))
            -var style = "display:none"
          li
            a(id="d"+day, style=style, class= day_classes(day, curDay), href="/"+curMonth+"-"+day)= day
        ul#day
          - each day in days
            mixin day(day)
          
    #content(role="main").container
      != body
    
    footer.container
      p Made by 
        a(href="http://mattmcman.us") Matt
        a(href="https://twitter.com/share", class="twitter-share-button", data-via="CharlesSpurgeon") Tweet
        script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="js/plugins.js")
    script(src="js/script.js")